body{
    font-family:'Poppins',sans-serif;
    margin:0;
    background:#F8FAFC;
    color:#0F172A;
    line-height:1.7;
}

.hero{
    height:90vh;

    background:linear-gradient(
        rgba(248,250,252,.90),
        rgba(248,250,252,.90)
    );

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:left;
}

.hero-content{
    width:80%;
    max-width:1100px;
}

.hero h1{
    font-size:82px;
    font-weight:700;
    color:#0F172A;
    margin-bottom:10px;
}

.hero h2{
    font-size:32px;
    color:#2563EB;
    font-weight:600;
    margin-bottom:30px;
}

.hero p{
    max-width:700px;
    font-size:26px;
    color:#475569;
}

nav{
    position:sticky;
    top:0;
    z-index:1000;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:18px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);
}

nav a{
    color:#0f172a;
    margin:0 25px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#2563eb;
}

section{
    background:white;
    width:85%;
    margin:70px auto;
    padding:60px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

h2{
    color:#1E3A8A;
    font-size:36px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    background:#2563eb;
    color:white !important;
    padding:15px 35px;
    margin:10px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:all .3s ease;
}

.btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

.secondary{
    background:transparent;
    border:2px solid white;
}

.secondary:hover{
    background:white;
    color:#0f172a !important;
}
